// !!!
// This should get replaced by static fonts when style is finalized
// !!!
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-content-width: 1200px;
  --main-tag-padding: 30px 40px;
  --header-tag-padding: 5px 15px 3px 15px;
  //--content-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  //--content-font: "Raleway";
  //--content-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  //--content-font: "Raleway";
  //--content-font: "Roboto";
  --content-font: "Montserrat";
  --headings-font: "Roboto";//"Montserrat";//"Heebo";
  //--headings-font: "Raleway";
  --mono-font: 'JetBrains Mono', monospace;
}

// Page is small
@media (max-width: 599px) {
  :root {
    --main-tag-padding: 30px 15px;
    --header-tag-padding: 5px 15px 3px 15px;
  }
}
// Page is medium
@media (min-width: 600px) and (max-width: 1199px) {
  :root {
    --main-tag-padding: 30px 20px;
    --header-tag-padding: 5px 20px 3px 20px;
  }
}
// Page is huge
@media (min-width: 1200px) {
  :root {
    --main-tag-padding: 30px 40px;
    --header-tag-padding: 5px 40px 3px 40px;
  }
}

/* Light default mode */
.theme-light {
  --header-background-color: #ab2b28;
  --header-fabar-color: #fff;
  --header-menu-item-color: #fff;
  --header-submenu-color: #111;
  --header-submenu-border-color: #ccc;
  --header-submenu-background-color: #fff;
  --header-search-background-color: #fff;
  --header-search-color: #333;
  --header-donate-background-color: #fff;
  --header-donate-color: #000;
  --background-color: #fff;
  --background-accent-color: #f9f0f0;
  --background-frontpage-band-color: #fff6f6;
  --text-color: #000;
  --h1-color: #ab2b28;
  --h2-color: #ab2b28;
  --h3-color: #ab2b28;
  --link-color: #ab2b28;
  --link-hover-color: #ab2b28;
  --table-border-color: #ccc;
  --table-background-color: #f6f6f6;
  --download-table-background-color: transparent;
  --download-table-border-color: #ab2b28;//#8b210f;
  --download-table-text-color: #821;
  --download-prod-background-color: #ffd9d9;
  --download-prod-color: #ab2b28;
  --download-upcoming-background-color: #fff9f9;
  --obsolete-background: #f3f3f3;
  --obsolete-color: #666;
  --admonition-font-color: #444;
  --admonition-links-color: #0645AD;
  --admonition-note-color: #19407C;
  --admonition-note-background-color: #EAF1FB;
  --admonition-warning-color: #BF6900;
  --admonition-warning-background-color: #FFF4E6;
  --admonition-important-color: #BF0000;
  --admonition-important-background-color: #FFE6E6;
  --admonition-caution-color: #BF3400;
  --admonition-caution-background-color: #FFECE6;
  --admonition-tip-color: #43B929;
  --admonition-tip-background-color: #EDFAEA;
  --example-block-color: #F1BB16;
  --example-block-background-color: #FEF8E7;
  --example-block-font-color: #444;
  --terminal-background: rgba(10,10,10,0.8);
  --terminal-background: rgba(171,43,40,0.10);
  --terminal-color: rgba(0,0,0,1);
  --terminal-color: rgba(80,10,10,1);
  --feeds-background: #f9f0f0;
  --footer-background: #f9f0f0;
  --select-arrow: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22black%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20d=%22M6%209%2012%2015%2018%209%22/%3E%3C/svg%3E');
  /* Images optimized for light/dark */
  --freebsd-logo-image: url("/images/FreeBSD-monochromatic.svg");
  header .logo {background-image: var(--freebsd-logo-image);}
  --freebsd-logo-horizontal-image: url("/images/FREEBSD_Logo_Horiz_Pos_RGB_black.png");
  .freebsd-horizontal .logo-box-image {background-image: var(--freebsd-logo-horizontal-image);}
  --openzfs-logo-image: url("/images/OpenZFS_logo.png");
  .openzfs .logo-box-image {background-image: var(--openzfs-logo-image);}
  --bhyve-logo-image: url("/images/bhyve.png");
  .bhyve .logo-box-image {background-image: var(--bhyve-logo-image);}
  --jails-logo-image: url("/images/bastille-icon.png");
  .jails .logo-box-image {background-image: var(--jails-logo-image);}
  --network-logo-image: url("/images/Netflix-Logo.png");
  .network .logo-box-image {background-image: var(--network-logo-image);}
  --docs-logo-image: url("/images/book.png");
  .docs .logo-box-image {background-image: var(--docs-logo-image);}
  --foundation-logo-image: url("/images/FreeBSD_Vrt.png");
  .fbf .logo-box-image {background-image: var(--foundation-logo-image);}
  --freebsd-logo-vert: url("/images/FREEBSD_Logo_Vert_Pos_RGB.png");
  .freebsd .logo-box-image {background-image: var(--freebsd-logo-vert);}
}

.theme-dark {
  --header-background-color: linear-gradient(to bottom, #161616, #191919, #1c1c1c);
  --header-fabar-color: #bbb;
  --header-menu-item-color: #bbb;
  --header-submenu-border-color: #833;
  --header-submenu-background-color: #411;
  --header-submenu-color: #bbb;
  --header-search-background-color: #aaa;
  --header-search-color: #000;
  --header-donate-background-color: #aaa;
  --header-donate-color: #611;
  --background-color: #101010;
  --background-accent-color: #333;
  --text-color: #bbb;
  --h1-color: #bbb;
  --h2-color: #bbb;
  --h3-color: #bbb;
  --link-color: #bbb;
  --link-hover-color: #bbb;
  --table-border-color: #666;
  --table-background-color: transparent;
  --download-table-background-color: transparent;
  --download-table-border-color: #711;
  --download-table-text-color: var(--text-color);
  --download-prod-background-color: #511;
  --download-prod-color: #bbb;
  --download-upcoming-background-color: #300909;
  --obsolete-background: #222;
  --obsolete-color: #777;
  --admonition-font-color: var(--text-color);
  --admonition-links-color: var(--text-color);
  --admonition-note-color: #19407C;
  --admonition-note-background-color: rgba(234, 241, 251, 0.3);
  --admonition-warning-color: #BF6900;
  --admonition-warning-background-color: rgba(255, 244, 230, 0.3);
  --admonition-important-color: #BF0000;
  --admonition-important-background-color: rgba(255, 230, 230, 0.3);
  --admonition-caution-color: #BF3400;
  --admonition-caution-background-color: rgba(255, 236, 230, 0.3);
  --admonition-tip-color: #43B929;
  --admonition-tip-background-color: rgba(237, 250, 234, 0.3);
  --example-block-color: #F1BB16;
  --example-block-background-color: rgba(254, 248, 231, 0.3);
  --example-block-font-color: var(--text-color);
  --terminal-background: rgba(255,255,255,0.08);
  --terminal-color: rgba(0,180,0,1.0);

  --feeds-background: #222;
  --footer-background: linear-gradient(to bottom, #222, #191919, #191919);
  --select-arrow: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20d=%22M6%209%2012%2015%2018%209%22/%3E%3C/svg%3E');
  /* Images optimized for light/dark */
  --freebsd-logo-image: url("/images/FreeBSD-colors.svg");
  header .logo {background-image: var(--freebsd-logo-image);}
  --freebsd-logo-horizontal-image: url("/images/FREEBSD_Logo_Horiz_Pos_RGB_white.png");
  .freebsd-horizontal .logo-box-image {background-image: var(--freebsd-logo-horizontal-image);}
  --openzfs-logo-image: url("/images/OpenZFS_logo.png");
  .openzfs .logo-box-image {background-image: var(--openzfs-logo-image);}
  --bhyve-logo-image: url("/images/bhyve-dark.png");
  .bhyve .logo-box-image {background-image: var(--bhyve-logo-image);}
  --jails-logo-image: url("/images/bastille-icon.png");
  .jails .logo-box-image {background-image: var(--jails-logo-image);}
  --network-logo-image: url("/images/Netflix-Logo.png");
  .network .logo-box-image {background-image: var(--network-logo-image);}
  --docs-logo-image: url("/images/book.png");
  .docs .logo-box-image {background-image: var(--docs-logo-image);}
  --foundation-logo-image: url("/images/FreeBSD_Vrt_Grey.png");
  .fbf .logo-box-image {background-image: var(--foundation-logo-image);}
  --freebsd-logo-vert: url("/images/FREEBSD_Logo_Vert_Rev_RGB.png");
  .freebsd .logo-box-image {background-image: var(--freebsd-logo-vert);}
}

.theme-high-contrast {
  --header-background-color: #000;
  --header-fabar-color: #eee;
  --header-menu-item-color: #eee;
  --header-submenu-border-color: #666;
  --header-submenu-background-color: #222;
  --header-submenu-color: #eee;
  --header-search-background-color: #eee;
  --header-search-color: #000;
  --header-donate-background-color: #eee;
  --header-donate-color: #611;
  --background-color: #000;
  --background-accent-color: #111;
  --text-color: #eee;
  --h1-color: #eee;
  --h2-color: #eee;
  --h3-color: #eee;
  --link-color: #eee;
  --link-hover-color: #eee;
  --table-border-color: #666;
  --table-background-color: transparent;
  --download-table-background-color: transparent;
  --download-table-border-color: #999;
  --download-table-text-color: var(--text-color);
  --download-prod-background-color: transparent;
  --download-prod-color: #eee;
  --download-upcoming-background-color: transparent;
  --obsolete-background: #111;
  --obsolete-color: #bbb;
  --feeds-background: #111;
  --footer-background: #111;
  --admonition-font-color: var(--text-color);
  --admonition-links-color: var(--text-color);
  --admonition-note-color: #19407C;
  --admonition-note-background-color: rgba(234, 241, 251, 0.3);
  --admonition-warning-color: #BF6900;
  --admonition-warning-background-color: rgba(255, 244, 230, 0.3);
  --admonition-important-color: #BF0000;
  --admonition-important-background-color: rgba(255, 230, 230, 0.3);
  --admonition-caution-color: #BF3400;
  --admonition-caution-background-color: rgba(255, 236, 230, 0.3);
  --admonition-tip-color: #43B929;
  --admonition-tip-background-color: rgba(237, 250, 234, 0.3);
  --example-block-color: #F1BB16;
  --example-block-background-color: rgba(254, 248, 231, 0.3);
  --example-block-font-color: var(--text-color);
  --terminal-background: rgba(255,255,255,0.08);
  --terminal-color: rgba(0,180,0,1.0);

  --select-arrow: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22white%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20d=%22M6%209%2012%2015%2018%209%22/%3E%3C/svg%3E');
  /* Images optimized for light/dark */
  --freebsd-logo-image: url("/images/FreeBSD-colors.svg");
  header .logo {background-image: var(--freebsd-logo-image);}
  --freebsd-logo-horizontal-image: url("/images/FREEBSD_Logo_Horiz_Pos_RGB_white.png");
  .freebsd-horizontal .logo-box-image {background-image: var(--freebsd-logo-horizontal-image);}
  --openzfs-logo-image: url("/images/OpenZFS_logo.png");
  .openzfs .logo-box-image {background-image: var(--openzfs-logo-image);}
  --bhyve-logo-image: url("/images/bhyve-dark.png");
  .bhyve .logo-box-image {background-image: var(--bhyve-logo-image);}
  --jails-logo-image: url("/images/bastille-icon.png");
  .jails .logo-box-image {background-image: var(--jails-logo-image);}
  --network-logo-image: url("/images/Netflix-Logo.png");
  .network .logo-box-image {background-image: var(--network-logo-image);}
  --docs-logo-image: url("/images/book.png");
  .docs .logo-box-image {background-image: var(--docs-logo-image);}
  --foundation-logo-image: url("/images/FreeBSD_Vrt_Grey.png");
  .fbf .logo-box-image {background-image: var(--foundation-logo-image);}
  --freebsd-logo-vert: url("/images/FREEBSD_Logo_Vert_Rev_RGB.png");
  .freebsd .logo-box-image {background-image: var(--freebsd-logo-vert);}
}

html { scroll-padding-top: 90px;}
body {
    background: var(--background-color);
    background-repeat: no-repeat;
    font-family: var(--content-font);
    font-weight: 350;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-color);
}

//sub-main is #content
#content {padding: var(--main-tag-padding); max-width: var(--max-content-width); margin: 0px auto; min-height: 75vh;}
.main-flex { display: flex; flex-wrap: wrap; gap: 35px; }
.main-flex ul { line-height: 2em; margin: 15px 0 25px 0;}
.main-flex-content { flex: 1 1 70%; }
.main-flex-sidebar { flex: 1 1 15%; }
.full-width-background{width: 100vw; height: 50px; position: relative; left: 50%; right: 50%;
  margin-left: -50vw; margin-right: -50vw;
  background: linear-gradient(to bottom, var(--h1-color), var(--background-accent-color), transparent);}
.front-page-band-off {background: var(--background-color); margin-bottom: 50px;}
.front-page-band-on {background: var(--background-frontpage-band-color);}
.front-page-band-content {max-width: var(--max-content-width); margin: 0px auto; padding: var(--main-tag-padding); padding-top: 20px; padding-bottom: 20px;}

h1, h2, h3 {font-family: var(--headings-font); font-weight: 700; border: 0; margin: 15px 0; clear: none;}
h1 {font-size: 30px; color: var(--h1-color);}
h2 {font-size: 25px; color: var(--h2-color);}
h3 {font-size: 20px; color: var(--h3-color);}

pre {font-family: var(--mono-font); font-size: 14px;}
code {font-family: var(--mono-font); font-size: 14px;}

table {background: transparent; border-collapse: collapse;}
table.tableblock {
font-size: clamp(11px, 1.5vw, 16px);
}

tr {background: transparent;}
tr:nth-child(even) {
   background-color: var(--table-background-color);
}
th {background: transparent;}
td {border: 1px solid var(--table-border-color); padding: 10px; line-height: normal;}
td p {padding: 0; margin: 0;}

a {color: var(--link-color); text-decoration: underline;}
a:hover {color: var(--link-hover-color); }

header {background: var(--header-background-color); padding: var(--header-tag-padding);}
.header-container {max-width: var(--max-content-width);}
header .logo {width: 144px; height: 45px; background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
header .fa-bars { color: var(--header-fabar-color); }
header .menu {margin-left: 10px;}
header .menu .menu-item .menu-item-description {color: var(--header-menu-item-color); font-weight: 550;}
header .menu .sub-menu {background-color: var(--header-submenu-background-color); border-color: var(--header-submenu-border-color);}
header .menu .sub-menu li.title {color: var(--header-submenu-color);}
header .menu .sub-menu li {color: var(--header-submenu-color);}
header .search {width: 170px; background-color: var(--header-search-background-color); border-color: var(--header-search-background-color);}
header .search #words {font-size: 16px; background-color: var(--header-search-background-color); color: var(--header-search-color);}
header .search button {background-color: var(--header-search-background-color);}
header .donate .heart {font-size: 15px;}
header .donate a {max-width: 200px; margin: auto; padding: 2px 10px 2px 8px;}
header .donate a {background-color: var(--header-donate-background-color);}
header .donate a .donate-text {color: var(--header-donate-color);}
header .donate a:hover {font-weight: 600;}

.downloads {margin: 0; min-width: 275px;}
.downloads th {color: var(--h3-color);}
.downloads td {line-height: 2; text-align: center; background: var(--download-table-background-color); padding: 10px 5px; border: 1px solid var(--download-table-border-color);}
.latest-production-series td {background: var(--download-prod-background-color); color: var(--download-prod-color);}
.latest-production-series a {color: var(--download-prod-color);}
.latest-production-series a {font-weight: bold;}
.latest-production-series td {font-weight: bold;}
.upcoming td {background: var(--download-upcoming-background-color); color: var(--download-table-text-color);}
.upcoming td a {color: var(--download-table-text-color);}

.get-freebsd-flex {display: flex; flex-wrap: wrap; gap: 30px 35px;}
    .get-freebsd-flex-item {flex: 1 1 40%}
.why-freebsd-flex {display: flex; flex-wrap: wrap; gap: 30px;}
.why-freebsd-flex-item {flex: 1 1 30%; min-width: 280px;}
    .why-freebsd-flex-item p {padding: 0 20px 0 0;}


    .get-freebsd-flex-item h2 {margin-top: 0}
    .why-freebsd-flex-item h3 {margin-top: 0; border-radius: 5px; padding: 2px 10px 0 0px;}


.logo-box {
  width: 100px;
  height: 100px;
  float: right;
  margin: 5px 10px 20px 20px;
}
.logo-box-image {
  width: 100%; height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.beastie-logo { float: right; margin: 20px 40px; }
    .why-logo-box {
        border: 0px solid red;
        width: 100px;
        height: 100px;
        float: right;
        margin: 5px 10px 20px 20px;
    }
    .why-logo {
        max-height: 100px;
        display: block;
        margin: auto;
    }
#sidewrap {float: right; width: 150px; margin: 0 0 20px 40px; background: var(--feeds-background); border-radius: 7px; padding: 10px;}
#sidewrap h3 {font-weight: 500; color: var(--h3-color); margin-top: 0; padding-top: 0}
#sidewrap ul {padding: 0; margin: 0;}
#sidewrap li {list-style: none; padding: 0; margin: 0;}
#contentwrap h1 {clear: none;}
#contentwrap h2 {clear: none;}
.feed-flex {display: flex; flex-wrap: wrap; gap: 30px 20px;}
.feed-flex-item {background: var(--feeds-background); line-height: 1.3em; border-radius: 7px;}
.feed-flex-item a {text-decoration: none;}
.feed-flex-item a:hover {text-decoration: underline;}
.feed-flex-item {flex: 1 1 15%; padding: 10px 10px; min-width: 150px; border-radius: 5px; font-size: 0.8em;}
.feed-flex-item h3 {padding-top: 0px; margin-top: 0px;}
.feed-flex-item .feed-item {margin: 0; padding: 0 0 5px 0;}
.feed-flex-item .feed-item-date {opacity: 0.5; font-weight: 400; margin: 10px 0 0 0; padding: 0 0 3px 0;}
.feed-flex-item .feed-source {margin: 15px 0 5px 0; opacity: 0.5; color: var(--text-color);}
.feed-flex-item .feed-source a {color: var(--text-color)}
footer {margin-top: 40px; padding: 5px 15px; clear: both; background: var(--footer-background);}
.footer-content {max-width: var(--max-content-width); margin: 0 auto;}
footer a {font-weight: 300;}
footer a:hover {font-weight: 300;}
footer .footer-flex-set {display: flex; flex-wrap: wrap; margin: 0 0 30px 0;}
footer .footer-flex-set-item {flex: 1 1 45%; min-width: 350px;}
footer .footer-flex {display: flex; flex-wrap: nowrap;}
footer .footer-flex section {flex: 1 1 15%; min-width: 100px;}
footer .footer-flex section .centered-block {margin: 0 auto; width: 120px;}
footer .footer-flex section h3 {font-size: 16px; margin-bottom: 10px;}
footer .footer-flex section ul {padding: 0; margin: 0;}
footer .footer-flex section li {list-style: none; padding: 0; margin: 0; font-size: 16px;}
footer .footer-flex section li a {text-decoration: none;}
footer .footer-flex section li a:hover {text-decoration: underline;}
footer .site-display-options {text-align: center; margin: 40px 0 30px 0; font-size: 0.7em;}
footer .copyright-column {text-align: center; margin: 30px 0 15px 0; font-size: 0.7em;}
footer .copyright-column .heart {color: var(--h2-color);}
footer select {color: var(--text-color); background-color: var(--background-color);}

footer select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--select-arrow) no-repeat;
  background-size: 18px;
  background-position: calc(100% - 3px) 50%;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  border-color: #999;
  padding: 5px 24px 5px 5px;
}

.mobile-only {display: none;}
@media screen and (max-width: 400px) {
  .downloads th:nth-of-type(2) {display: none;}
  .downloads td:nth-of-type(2) {display: none;}
  .mobile-only {display: unset;}
}

/* .adocs files */

li p {margin: 0; padding: 0;}
.tblDownload {border-collapse: collapse; margin: 0 auto; width: 100%;}
.tblDownload th {border: 1px solid #ccc; color: var(--h3-color); background-color: var(--footer-background);}
.tblDownload td {border: 1px solid #ccc; vertical-align: top; padding: 15px;}
.tblDownload td ul {margin: 0; padding-left: 20px; list-style: none; padding: 0}
.tblDownload td p {margin: 0 0 0 0;}

#content {max-width: var(--max-content-width); margin: 0 auto;}
.listingblock {margin: 0; padding: 0;}
.listingblock pre {line-height: normal; margin: auto; font-size: 0.8em;}
#content h2 {margin: 40px 0 15px 0;}

.obsolete {color: var(--obsolete-color); background-color: var(--obsolete-background); border-radius: 5px; padding: 1px 20px 10px 20px; margin: 20px 0; font-size: 0.8em;}
.obsolete a, .obsolete h3 {color: var(--obsolete-color);}

.article-flex {display: flex; flex-wrap: wrap; gap: 30px; margin-top: 20px;}
.article-flex-item h3 {margin-top: 0; padding-top: 0;}
.article-flex-item {flex: 1 1 25%; min-width: 200px; padding: 20px; background-color: var(--background-accent-color); border-radius: 5px;}

//sticky toc when not on mobile for hardware page
@media (min-width: 600px) {
  .hardware #preamble {position: sticky; float: right; top: 100px; right: 20px; width: 280px; margin: 0; padding: 15px; overflow-y: auto; max-height: 80vh; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); background-color: var(--background-accent-color); }
  .hardware #preamble ul { margin: 0; padding-left: 0px; list-style-type: none;}
  .hardware #preamble ul.sectlevel1 { mrrgin: 0 0 0 -20px;}
  .hardware #preamble ul li { margin: 0; padding-left: 20px;}
  .hardware .sect1 {margin-right: 350px;}
}
.hardware blockquote {border: 0; font-style: normal;}
.hardware #preamble a { text-decoration: none;}
.hardware #preamble a:hover { text-decoration: underline;}
.hardware code { font-family: var(--content-font);}

.feature-flex {display: flex; flex-wrap: wrap; gap: 0 30px;}
.feature-flex h3 {flex: 1 0 100%;}
.feature-flex-item {flex: 1 1 30%; padding-bottom: 20px;}
.feature-flex-menu {display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;}

.feature-flex-menu-item {flex: 0 1 100px; display: block; padding: 0 0 10px 0; border-radius: 10px; text-align: center; border: 3px solid var(--terminal-background); text-decoration: none; font-weight: bold;}
.feature-flex-menu-item-text {background: var(--terminal-background); border-radius: 6px 6px 0 0; margin: 0 0 10px 0;}
.feature-flex-menu-item .logo-box {width: 50px; height: 50px; margin: auto; float: none;}
.feature-flex-menu-item:hover {background: transparent; border: 3px solid var(--h1-color); text-decoration: none}
.feature-flex-menu-item:hover .feature-flex-menu-item-text {background: var(--h1-color); color: var(--background-color);}

.feature-flex-item p {margin: 0; padding: 0;}
.demo-terminal .content {width: 600px; color: var(--terminal-color); background: var(--terminal-background); border-radius: 10px; margin: 0 auto 0 0;}
@media (max-width: 619px) {
  .demo-terminal .content {margin-bottom: -160px; margin-right: -250px; scale: 0.6; transform-origin: top left;}
  .feature-flex-item {min-width: 300px;}
}

.feature-flex-item img {border-radius: 10px;}

//admonitions
.admonitionblock{
  td.icon, td.content, tr:nth-child(odd) {background: transparent; border: 0;}
}
